/******************************************************************************/
/*                                  CLEANING                                  */
/******************************************************************************/

*{
    margin: 0;
    padding: 0; 
}

/******************************************************************************/
/*                                  GENERAL                                   */
/******************************************************************************/

body{
    font-family: 'Merriweather Sans', sans-serif, Arial;
    font-size: 10pt;
    background: white url("../img/back.png") repeat center;
}

a{
    text-decoration: none;
    color: #222222;
}

a:hover{
    font-weight: bolder;
}

h1{
    font-family: 'Lato', sans-serif, Arial;
    font-size: 40pt;
    margin: -0.25em 0 1em 0;
    color: #000078;
    width: 80vw;
    text-align: center;
}

h2{
    font-size: 20pt;
    color: #000078;
    margin: 2vh 0 0 0;
}

h3{
    color: #000078;
}

ul{
    list-style: none;
}

abbr{
    text-decoration: none;
}

article{
    margin: 0 10vw 0 10vw;
    width: 80vw;
}
/******************************************************************************/
/*                                  HEADER                                    */
/******************************************************************************/

header{
    margin: 0 10vw 0 10vw;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 99;
    background: lightgrey;
}

#pre-menu{
    display: flex;
    flex-wrap: wrap;
}

marquee{
    width: 55vw;
    margin: 1vw 8vw 2vw 8vw;
    font-size: 12pt;
}

#donaciones:hover{
    font-weight: bold;
    text-shadow: 12pt;
}

#languages ul{
    text-align: center;
}

#languages ul li{
    display: inline;
}

#languages ul li a{
    font-size: 8pt;
}

#languages ul li a:hover{
    font-size: 2vh;
}

#logo img{
    width: 20vw;
    margin: 0 25vw 2vh 0;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

nav{
    padding: 5vh 0 0 0;
}

nav ul{
    text-align: center;
}

nav ul li, #breadcrumbs ul li, #submenu ul li{
    display:  inline;
    font-size: 12pt;//1vw;
}

nav ul li a, #breadcrumbs ul li a, #submenu ul li a{
    padding: 0 1vw 0 1vw;
    font-weight: bold;
    color: #000078;
}

#breadcrumbs{
    margin: 0 0 2vh 0;
}

#actual-page{
    border-bottom: solid black thin;
    font-weight: bolde;
}

nav ul li a:hover{
    color: #000078;
    background: #D0D0D0;
    font-size: 14pt;
    padding: 0 0.5vw 0 0.5vw; 
}

/******************************************************************************/
/*                                  FOOTERS                                   */
/******************************************************************************/

footer{
    margin: 0 10vw 0 10vw;
    width: 80vw;
    
    border-top: solid black thin;
    
    background: #D0D0D0;
    display: flex;
    flex-wrap: wrap;
    font-size: 9pt;
}
 
#contact{
     flex: 2 5vw;
     margin: 2vh 0 0 0;
     padding: 2vh 4vw 2vh 4vw;
}

#contact a span{
    //width: 5vw;
    margin: 1vh 1vw 0 0;
}

#contact p{
    padding: 1vh 0 0 0;
}
 
#footer_form{
     flex: 3 20vw;
     padding: 2vh 10vw 2vh 10vw;
     margin: 2vh 0 0 0;
     border-left: 0.1vh solid black;
     border-right: 0.1vh solid black;
}

#footer_form p{
     font-weight: bold;
}

#footer_form li{
    margin: 1vh 0 0 0;
}
 
#info{
    flex: 5 5vw;
    margin: 2vh 0 0 0;
}

#info img{
    width: 4vw;
    float: left;
    padding: 2vh 1vw 1vh 1vw;
}

#info div{
    padding: 0.5vh 0 0 0;
}

#info p{
    padding: 0.5vh 0 0 0;
}

#credits{
    padding: 1vw 2vw 1vw 2vw;
}

.fa-phone, .fa-envelope{
    margin: 0 0.5vw 0 0;
}

.fa-twitter{
    color: blue;
}

.fa-facebook{
    color: blue;
}

.fa-youtube{
    color: red;
}

.fa-instagram{
    color: orange;
}

/******************************************************************************/
/*                               INDEX.HTML                                   */
/******************************************************************************/

#inicio{
    margin-top: 24vh;
}

section{
    margin: 0 0 2vh 0;
    
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
}

section h2{
    flex: 1 100%;
}

section div{
    margin: 0 2vw 0 0;
    flex: 2;
}

section div img{
    width: 100%;
}
#timetable h3, #addr h3{
    margin-bottom: 2%;
}

#timetable{
    padding: 2%;
    flex: 2;
}

#cost{
    padding: 2%;
    flex: 3;
}

dt{
    font-weight: bold;
    padding: 2%;
}

dd{
    margin-left: 2em;
}

#buy{
    margin-top: 4vh;
    text-align: center;
    color: black;
    font-size: 14pt;
    border-style: outset;
    width: 15vw;
    float:right;
}

#buy:hover{
    border-style: inset;
}

#addr{
    padding: 2%;
    flex: 1;
}



/******************************************************************************/
/*                               XPOSICIONES.HTML                             */
/******************************************************************************/

#breadcrumbs {
    width: 80vw;
}

#submenu{
    text-align: center;
    width: 80vw;
    margin: 0 0 1vh 0;
}

#breadcrumbs ul li a:hover, #submenu ul li:hover{
    color: brown;
    font-size: 2.2vh;//130%;
}

#expo{
    margin-top: 33vh;
}

#expo h2{
    margin-bottom: 1vh;
}

/******************************************************************************/
/*                              EXPO-DETALLE.HTML                             */
/******************************************************************************/

#expo-detalle{
    margin-top: 26vh;
}

#expo-detalle section{
    display: block;
}

#degas{
    margin: 17vh 0 0 0;
    background: lightgray url("../img/expo-detall-degas.jpg") no-repeat center;
    width: 80vw;
    background-size: contain;
    height: 68vh;
}

#degas h2{
    position: relative;
    top: 25vh;
    left: 30vw;
    font-weight: bolder;
    color: white;
}

#degas p{
    position: relative;
    top: 30vh;
    left: 35vw;
    font-weight: bolder;
    color: white;
}

#data{
    display: flex;
    flex-wrap: wrap;
}

#dates{
    flex:1;
    padding: 2vh 0 0 0;
}

#dates a{
    font-weight: bolder;
    font-size: 15pt;
    color: black;
    text-shadow: #888 4px -4px 2px;
}

#tickets{
    margin: 2vh 0 0 0;
}

#tickets:hover{
    font-weight: bolder;
    font-size: 16pt;
    color: #888;
    text-shadow: red 4px -4px 2px;
}

#text{
    flex: 2;
    padding: 2vh 0 0 0;
}

.aut{
    font-weight: bold;
}

.aut, #fuente{
    margin: 1vh 0 2vh 0;
}

#wiki, #video, iframe{
    margin: 0 0 2vh 0;
}

table{
    border: solid black 0.1vw;
    margin-top: 2vh; 
}

th, td{
    padding: 1vh 2vh 1vh 1vh;
}

/******************************************************************************/
/*                                     DONAR.HTML                             */
/******************************************************************************/

#donar{
    background: lightgray url("../img/donar.jpg") no-repeat center;
    width: 80vw;
    background-size: contain;
    height: 67.5vh;;
    flex-align: 1;
}

#donar h2{
    position: relative;
    top: 18vh;
    left: 30vw;
    font-weight: bolder;
}

#donativos{
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 0 0 0;
}

#cita:first-child p{
    margin: 2vh 0 0 0;
}

cite{
    flex: 1;
}

form{
    flex: 7;
}

#thanks{
    margin: 2vh 0 0 0;
    font-weight: bold;
}

#valor_cantidad{
    text-align: right;
}

fieldset{
    border: none;
}

.title{
    font-weight: bold;
    margin: 2vh 0 1vh 0;
}

fieldset ul li ul li{
    margin: 1vh 0 1vh 2vh;
}

#policy, #anonym{
    margin: 2vh 0 0 0; 
}


#bilt{
    float: left;
}

#payment{
    float: right;
}

#agreement{
    clear: both;
}

#submit, #submit_form, #reset{
    border-radius: 0.5em;
    background: -moz-linear-gradient(center top , #33fff3 0%, #33bbff 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33fff3), color-stop(100%,#33bbff));
    text-shadow: 1px 1px 1px #E1FEA6;
    -moz-box-shadow: 0px 6px 0 #819F45;
    -webkit-box-shadow: 0px 6px 0 #819F45;
    box-shadow: 0px 6px 0 #819F45;

    width: 5vw;
    height: 2.5vh;
    font-size: 12pt;
}

#submit:hover, #reset:hover{
     font-size: 14pt;
}

#form_buttons{
    margin: 0 0 0 15vh;
}

#form_buttons input{
    margin: 3vh 0 0 0;
}

/******************************************************************************/
/*******************************************************************************/
/*                                     SMARTPHONES                             */
/******************************************************************************/
/******************************************************************************/

@media screen and (min-width: 300px) and (max-width: 700px){
    
    /******************************************************/
    /*                       GENERAL                       */
    /******************************************************/
    h1{
        font-size: 15pt;
    }
    
    h2{
        font-size: 14pt;
    }
    
    h3{
        font-size: 13pt;
    }
    
    .content{
        display: block;
    }
    
    img{
        margin-top: 2vh;
    }
    /******************************************************/
    /*                       HEADER                       */
    /******************************************************/
    nav ul{
        margin-top: -4vh;
    }
    
    nav ul li{
        display: list-item;
        text-align: right;
        margin-top: 0.5vh;
    }
    
    
    /******************************************************/
    /*                       FOOTER                       */
    /******************************************************/
    footer{
        display: block;
        border-top: 0.1vh solid black;
        clear: both;
    }
    
    #footer_form{
        border: none;
        padding: 2vh 5vw 2vh 5vw;
    }
    
    #submit, #submit_form, #reset{
        width: 15vw;
        height: 2.5vh;
    }
    
    #info img{
        width: 10vw;
        padding: 0 3vw 1vh 1vw;
    }
    
    #credits{
        border-top: 0.1vh solid black;
        margin-top: 2vh;
    }
    
    /******************************************************/
    /*                     INDEX.HTML                     */
    /******************************************************/
    #inicio{
        margin-top: 30vh;
    }
    
    #activities{
        margin-top: 5vh;
    }
    
    #visit{
        -webkit-flex-flow: column;
        flex-flow: column;
    }
    
    #timetable{
        -webkit-order: 1;
           order: 1;
    }
    
    #addr{
        -webkit-order: 2;
           order: 2;
    }
    
    #cost{
        -webkit-order: 3;
           order: 3;
           
    }
    
    
    #buy{
        width: 60vw;
    }
    
    /******************************************************/
    /*                  EXPOSICIONES.HTML                 */
    /******************************************************/
    #expo{
       margin-top: 30vh;
    }
    
    #expo-proximas, #expo-anteriores{
        clear: left;
         display: block;
    }
    
    #expo-proximas > div, #expo-anteriores > div{
        width: 38vw;
        float: left;
    }
    
    /******************************************************/
    /*                  EXPO-DETALLE.HTML                 */
    /******************************************************/
    #degas{
        margin: 30vh 0 0 0;
        height: 26vh;
    }
    
    #degas h2{
        top: 10vh;
        left: 15vw;
    }

    #degas p{
        top: 12vh;
        left: 25vw;
    }

    #data{
        display: block;
    }
    
    /******************************************************/
    /*                  DONAR.HTML                 */
    /******************************************************/
    #donar{
        margin: 30vh 0 0 0;
        height: 26vh;
    }
    
    #donar h2{
        top: 5vh;
        left: 20vw;
    }
    
    #donativos{
        -webkit-flex-flow: column;
            flex-flow: column;
    }
}

